@page "/about"
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Hiya! I love learning, building and fixing things. </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Hi, my name is Helal. I am an IT professional solving problems (creating some too ;) ) for the past @(DateTime.Now.Year-2006) years. </p>
                <p>
                    <h2>Why Now</h2>
                    I was watching <a href="https://www.youtube.com/watch?v=KS2gQ_0-zXg&t=2s">NDC Melbourne 2021</a> and the thing that stayed with me after was Scott Hanselman`s quote <strong> "You have a finite number of keystrokes left in your hands before you die"</strong>. So from now I will try to write a bit about exciting things I find and struggles, hopefully somebody else can find something useful from it and help them out.
                </p>
            </div>
        </div>
    </div>
</main>