@page "/Login"

<!-- Main Content-->

@{
    var providers = new Dictionary<string, string>
{
        { "github", "GitHub" },
        { "twitter", "Twitter" },
        { "facebook", "Facebook" }
    };
}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @foreach (var provider in providers)
                {
                <a href="/.auth/login/@provider.Key" class="btn btn-secondary"><i class="fa fa-@provider.Key"></i>&nbsp; @provider.Value</a>
                    
                }
            </div>
        </div>
    </div>
</main>
@code {

}
