@page "/Login"

<!-- Main Content-->

@{
    var providers = new Dictionary<string, string>
{
        { "github", "GitHub" },
        { "twitter", "Twitter" },
        { "facebook", "Facebook" }
    };
}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Login</h1>
                    <span class="subheading">Choose you providers</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    @foreach (var provider in providers)
                    {
                  
                    <li class=""list-inline-item"">
                        <a href="/.auth/login/@provider.Key">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-@provider.Key fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</main>
@code {

}